@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=Crimson+Text&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", sans-serif;
  font-weight: 400;
  color: #141414;
  margin: 0;
}

h2 {
  font-family: "Cormorant Garamond", sans-serif;
  vertical-align: center;
  text-align: center;
}

/* header */

.header {
  background-color: #141414;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header a,
.menu a {
  color: #fff;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #141414;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #fff;
  color: #141414;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2rem;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

/* the image provided wasn't up to standard so I've commented out the code for now.

.logo {
  background: url("../images/logo-white_250x150.png") no-repeat center center;
  background-size: cover;
} */

a.active {
  background-color: #fff;
  color: #141414;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* footer */

footer {
  bottom: 0;
}

.footer-distributed {
  background-color: #141414;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: large;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Crimson Text", sans-serif;
  margin: 0;
}

.footer-distributed h3 a {
  color: #fff;
  text-decoration: none;
}

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #ffffff;
}

.footer-distributed {
  color: #fff;
  font-size: large;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #c0c0c0;
  color: #141414;
  font-size: large;
  width: 38px;
  height: 38px;
  border-radius: 60%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed a:hover {
  text-decoration: underline;
}

.footer-distributed .footer-center p a {
  color: #ffffff;
  text-decoration: none;
}

.footer-distributed .footer-center a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-about {
  line-height: 20px;
  color: #fff;
  font-size: large;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-about span {
  display: block;
  color: #ffffff;
  font-size: x-large;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #141414;
  border-radius: 2px;

  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-icons a:hover {
  background-color: #c0c0c0;
}

.footer-icons a:hover i {
  color: #141414;
  transform: scale(1.5);
}

/* featured image slider */

a.prev,
a.next {
  height: 90px;
  position: absolute;
  width: 43px;
  top: 400px;
  margin-top: -30px;
  opacity: 0.6;
  text-indent: -99999px;
  cursor: pointer;
}

a.prev:hover,
a.next:hover {
  opacity: 1;
}

.prev {
  left: 0;
  background: #141414 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}

.next {
  right: 0;
  background: #141414 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}

.slider {
  height: 1000px;
  padding-top: 61px;
  position: relative;
  z-index: 0;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider .slide:target {
  z-index: 100;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  left: 0;
}

/* about section */

#about-me {
  height: 600px;
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;
}

#center-about {
  width: 33%;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading p {
  text-align: right;
}

.right-about-heading h2 {
  text-align: right;
}

.left-about-heading p {
  text-align: left;
}

.left-about-heading h2 {
  text-align: left;
}

/* about me center image */

#about {
  margin: 20px 0;
  text-align: center;
  font-size: 2.8rem;
}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;
}

#circle-cover-bg {
  background: url("../images/about-image.webp") no-repeat center center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: cover;
}

/* video section */

.youtube-video {
  position: relative;
  width: 100%;
  height: 600px;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* gallery page */

.gallery-image {
  padding: 61px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 250px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption>p:nth-child(2) {
  font-size: 0.8rem;
}

.low-opacity {
  opacity: 0.5;
}

/* contact page */

.form-section {
  clear: left;
  background: url("/assets/images/featured/featured-09.webp");
  background-size: cover;
  background-position: center;
  height: 900px;
}

.contact-form {
  margin: 150px 10% 0 0;
  color: #141414;
  background-color: #fff;
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px;
}

.contact-form>h2 {
  color: #141414;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #141414;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #141414;
  border-radius: 2px;
}

textarea {
  border: 1px solid #141414;
  border-radius: 2px;
  width: 100%;
}

input[type="text"i],
select {
  width: 100%;
  border: 1px solid #141414;
  border-radius: 2px;
  margin: 5px 0 20px 0;
}

.text-input:hover {
  border-color: #c0c0c0;
}

.message-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 1rem;
  background-color: #c0c0c0;
  color: #141414;
  display: block;
}

.message-button:hover {
  background-color: #141414;
  color: #fafafa;
}

/* 404 page */

#fof-page {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 3.125rem;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #141414;
  }

  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

/* media queries */

@media screen and (max-width: 1200px) {
  #about-me {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
    padding-top: 60px;
  }

  #welcome {
    padding: 30px 0;
    margin-top: 0;
  }

  #left-about,
  #right-about {
    width: 100%;
    float: left;
    padding: 0;
  }

  #center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }
}

@media (max-width: 950px) {
  .footer-distributed {
    font: bold 14px "Crimson Text", sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  #about-me {
    padding-top: 60px;
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  .left-about-heading,
  .right-about-heading {
    width: inherit;
  }

  .left-about-heading h2,
  .right-about-heading h2 {
    width: 100%;
    text-align: center;
  }

  .left-about-heading p,
  .right-about-heading p {
    text-align: center;
    padding: 0 20px 0 20px;
  }
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 443px) {
  .contact-form {
    top: inherit;
  }

  #about-me {
    padding-top: 60px;
  }

  .footer-distributed {
    padding: 55px 30px;
  }
}